manifest {
	author = "Serj Abramov & Sasha Boytsov"
	mainScript = "main.nf"
	defaultBranch = "master"
	name = "CAV calling"
	description = "CAV calling from SNP calls"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]
params {
	samplesFile = '/home/sabramov/nf-babachi/metadata+ag_number.tsv'
	outdir = '/home/sabramov/nf-babachi/babachi_1.5/'
	vcfFile = "/home/sabramov/nf-babachi/allele_counts.fixed.vcf.gz"

	includeConfig './babachi_params.config'
}


profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0"
			memory = { 16.GB * task.attempt }
			cache = "lenient" // may need to switch to deep
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3
			conda = "/home/sabramov/miniconda3/envs/babachi-env"
		}
		
		executor {
			$slurm {
				queueSize = 25s0
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
