manifest {
	author = "Jeff Vierstra"
	mainScript = "main.nf"
	defaultBranch = "master"
	name = "genotyping-pipeline"
	description = "Genotyping pipeline from chromatin accessbility data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]


profiles {
	
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0"
			memory = { 16.GB * task.attempt }
			cache = "lenient" // may need to switch to deep
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3

			module = 'python/3.6.4'
		}
		
		executor {
			$slurm {
				queueSize = 150
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
		}
}
