manifest {
	author = "Sergey Abramov & Aleksandr Boytsov"
	mainScript = "main.nf"
	defaultBranch = "main"
	name = "CAV calling"
	description = "CAV calling from SNP calls"
	version = "1.0"
	nextflowVersion = "22.04.0"
}

// Run with a stricter shell, so errors are caught earlier
process.shell = ['/bin/bash', '-ueo','pipefail' ]
params {
	includeConfig './params.config'
}


profiles {
	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue0,encode4,pool,bigmem"
			memory = { 8.GB * Math.pow(task.attempt, 3) }
			cache = "lenient"
			errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'terminate' }
			maxRetries = 3
			withLabel: med_mem {
				memory = { 20.GB * task.attempt }
			}
			withLabel: sampling {
				memory = { 40.GB * task.attempt }
			}
			withLabel: high_mem {
				memory = { 80.GB * task.attempt }
			}
		}

        conda.enabled = true
		
		executor {
			$slurm {
				queueSize = 300
			}
		}

		// Logging
		//trace.enabled = true
		//trace.file = "pipeline_trace.txt"
		//timeline.enabled = true
		//timeline.file = "pipeline_timeline.html"
		//report.enabled = true
		//report.file = "pipeline_report.html"
	}
}
