samples_file = '/net/seq/data2/projects/sabramov/ENCODE4/wasp-realigning/output/meta.txt'
outdir = 'output'
container = "/home/sabramov/miniconda3/envs/babachi"
alt_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
bg_file = "/net/seq/data/projects/motifs/hg19.K36.mappable_only.5-order.markov"
motifs_list = "/home/sabramov/projects/ENCODE4/motifs_list.txt"
pval_tr = 0.001

// BABACHI params
states = "1,1.5,2,2.5,3,4,5,6"
prior = "uniform"
geometric_prior = 0.98
allele_tr = 5

// P-value calculation params
exclude_fdr_tr = 0.05
es_method = 'odds'
recalc_w = true
fdr_cov_tr = 20

vcf_file = "/home/sabramov/nf-babachi/allele_counts.fixed.vcf.gz"