samples_file = '/home/sabramov/projects/ENCODE4/metadata.babachi.tsv'
outdir = 'babachi_1.5'
conda = "/home/sabramov/miniconda3/envs/babachi"

// BABACHI params
states = "1,1.5,2,2.5,3,4,5,6"
prior = "uniform"
geometricPrior = 0.98
alleleTr = 5

// P-value calculation params
excludeFdrTr = 0.05
esMethod = 'exp'
recalcW = false
fdrCovTr = 20

vcfFile = "/home/sabramov/nf-babachi/allele_counts.fixed.vcf.gz"