///////////////////////////////////////////////////////////////
//                 CAV-calling workflows                     //
///////////////////////////////////////////////////////////////

outdir = "$launchDir/output"
conda = "/home/sabramov/miniconda3/envs/cavs-calling"
samples_file = '/home/sabramov/projects/ENCODE4/dnase_metadata+sample_info.0103.tsv'

initial_filter = 10
fdr_tr = 0.05

// Aggregation part of the pipeline
aggregation_key = "cluster_id" // Aggregation key, use "all" to aggregate all the data
raw_pvals_dir = "${outdir}/by_sample"


// BAD calling params
min_snps_count = 100
states = "1,1.5,2,2.5,3,4,5,6"
prior = "uniform"
geometric_prior = 0.98
babachi_maf_tr = 0.01
babachi_allele_tr = 5

// P-value calculation params
coverage_tr = "auto"


// Differential CAVs analysis
nonagr_pvals = "${outdir}/non_aggregated.${aggregation_key}.bed.gz"
min_samples = 3
min_groups = 2


///////////////////////////////////////////////////////////////
//             Post-processing workflows                     //
///////////////////////////////////////////////////////////////

genome_fasta_file = "/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa"
genotype_file = "/net/seq/data2/projects/sabramov/ENCODE4/dnase-genotypes-round2/output/genotypes/all.filtered.snps.annotated.vcf.gz"

// Phenotypes annotation
phenotypes_data = "/home/sabramov/phenotypes_data"

// Moods params
moods_scans_dir = "/net/seq/data2/projects/sabramov/ENCODE4/moods_scans.0104/" // Pre-made MOODs scans
bg_file = "/net/seq/data2/projects/sabramov/ENCODE4/background_probs.txt"
motifs_list = "/home/sabramov/projects/ENCODE4/motifs_list.txt"
motif_pval_tr = 0.0001


// Motif enrichment params
result_file = "${outdir}/aggregated.${aggregation_key}.bed"
flank_width = 20


// LD calculation
ld_window_size_bp = 100000


// Context extraction
window = 20 // window in which extract context overlapping each variant


// Mutation rates
vcfs_dir = "/net/seq/data2/projects/sabramov/shamilMutationRates" // Roulette vcf files, see https://github.com/vseplyarskiy/Roulette